*, *:before, *:after{
    padding: 0 ;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);

}
header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;

}
.header{
    height: 100px;
    display: flex; 
    justify-content: space-between;
}
.container{
    padding: 0 10px;
}

.logo_text{
    color: #5C5C5C;
    word-spacing: 4px;
}
span{
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo_image{
    width: 17%;
}
.logo{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.header__menu{
    align-self: center;
    position: relative;
    z-index: 1;
    
}
.items{
    
    display: flex;
}
.line{
    display: flex;
    flex-wrap: nowrap;
}
.line img:last-child {
    align-self: center;
}
nav a:nth-child(5){
    position: relative;
}
nav a:nth-child(5)::after{
    display:block;
    content: '';
    width: 30%;
    height: 2px;
    background-color: #FF8A00;
    position: absolute;
    bottom: 0;
    left: calc(50% - 10.8px);
    top: 20px;
}

.menu__Link{
    align-self: center;
    margin-right: 25px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #FF8A00
    

}

.button_logo{
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 100px;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 10px;
    outline: none;
    position: relative;
    z-index: 1;
}
.button_logo:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    display: block;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: greenyellow;
    -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px -2px 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease;

}.button_logo:hover{
    background: transparent;
    color: gray;
}
.button_logo:hover:after{
    height: 100%;
    border: 2px solid green;
    border-radius: 100px;
}

main{
    padding: 120px 0 0 0;
}

@media screen and (max-width:940px){
    .menu__Link{
        margin-right: 15px;
        font-size:14px;
        line-height: 10px;
    }
    .button_logo{
        width: 120px;
        height: 45px;
        font-size: 12px;
        line-height: 14px;
    }
}
@media screen and (max-width:810px){
    body.lock{
        overflow: hidden;
    }
    .header__burger{
        position: relative;
        width: 30px;
        height: 20px;
        z-index: -1;
    }
    
    .header__burger:before, 
    .header__burger:after{
        content: '';
        background-color: black ;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
        
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger span{
        position: absolute;
        background: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 0;
    
    }
    .header__menu.active{
        top: 0;
    }
    .items{
        padding: 120px 0 0 0 ;
        display: block;
    }
    .logo {
        align-self: center;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    .button_logo{
        margin: 10px 0 0 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg) ;
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg) ;
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
        
    }
}


label{
    display: block;
    margin-bottom: 20px;
}
main h1{
    font-family: Proxima Nova;
    font-size: 44px;
    line-height: 158.34%;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}
main p{
    font-family: Arial;
    font-size: 18px;
    line-height: 33px;
    color: #5C5C5C;
    margin-bottom: 60px;
}
input[type=text]{
    outline: none;
    width: 490px;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 100px;
    padding: 0 10px;
    box-sizing: border-box;
}
input::-webkit-input-placeholder {  
    font-family: Arial;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;    
}
input[type=submit]{
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    width: 467px;
    height: 57px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.your_message input{
    border-radius: 50px;
    height: 240px;
    border-color: yellowgreen;
}

main{
    width: 70%;
    margin: 0 auto;
}
footer{
    background-color: #212121;
}
.advertising{
    margin: 10px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    grid-template-rows: minmax(212px, auto) 50px;
}
.left_block p:nth-child(1){
    margin-top: 10px;
}
.left_block p:nth-child(2){
    font-family: Roboto;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 20px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    margin: 32px 29px 0 0px;
}
ul a:not(h2), .footer_text{
    font-family: Roboto;
    font-size: 15px;
    line-height: 175.78%;
    color: #FFFFFF;
}
ul h2 {
    font-family: Roboto;
    font-size: 15px;
    line-height: 175.78%;
    color: #FFFFFF;
    font-weight: bold;
}
.left_block{
    margin: 0 10% 0 10%;
}
.left_block a{
    width: 32px;
    height: 36px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background: #272EAE;
    transition: all 0.5s ease;
    opacity: 1;

}
a.facebook{
    background: #1590D8;
}
a.youtube{
    background: #D0021B;
}
a.whatsapp{
    background: greenyellow;
}
.left_block a .fa{
    color: white;
    line-height: 36px;
    transition: all 0.5s ease;
}
.left_block a:hover{
    background-color: #ccc;
    transition: all 0.5s ease;
}
.left_block a:hover i.fa{
    color: black;
    transition: all 0.5s ease;
}
.footer_text{
    justify-self: center;
    align-self: center;
    margin-top: 70px;
}


.dno{
    color: white;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    line-height: 20px;
    background-color: black;
    display: flex;
    
}
.dno p:nth-child(1){
    flex-grow: 1;
    margin-left: 3%;
    text-align: left;
    align-self:center ;
}
.dno p:nth-child(2){
    flex-grow: 1;
    text-align: right;
    margin-right: 3%;
    word-spacing: 5px;
    align-self: center;
}


/*  */






